In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/car_purchasing.csv",encoding='latin-1')

In [ ]:
data

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,Nepal,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,Zimbabwe,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457
497,Pearl,penatibus.et@massanonante.com,Philippines,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888
498,Nell,Quisque.varius@arcuVivamussit.net,Botswana,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353
499,Marla,Camaron.marla@hotmail.com,marlal,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566

In [ ]:
data.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [ ]:
data.columns

Index(['customer name', 'customer e-mail', 'country', 'gender', 'age',
       'annual Salary', 'credit card debt', 'net worth',
       'car purchase amount'],
      dtype='object')

In [ ]:
data.isna().sum()

customer name          0
customer e-mail        0
country                0
gender                 0
age                    0
annual Salary          0
credit card debt       0
net worth              0
car purchase amount    0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer name        500 non-null    object
 1   customer e-mail      500 non-null    object
 2   country              500 non-null    object
 3   gender               500 non-null    int64
 4   age                  500 non-null    float64
 5   annual Salary        500 non-null    float64
 6   credit card debt     500 non-null    float64
 7   net worth            500 non-null    float64
 8   car purchase amount  500 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 35.3+ KB

In [ ]:
data.drop(['customer name', 'customer e-mail'],axis=1,inplace=True)
data.head()

,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [ ]:
data["country"].value_counts()

Israel                 6
Mauritania             6
Bolivia                6
Greenland              5
Saint Barthélemy       5
                      ..
El Salvador            1
Denmark                1
Oman                   1
Trinidad and Tobago    1
marlal                 1
Name: country, Length: 211, dtype: int64

In [ ]:
data1=pd.get_dummies(prefix="Country",data=data,columns=['country'])
data1.head()

,gender,age,annual Salary,credit card debt,net worth,car purchase amount,Country_Afghanistan,Country_Algeria,Country_American Samoa,Country_Andorra,...,Country_Venezuela,Country_Viet Nam,"Country_Virgin Islands, British","Country_Virgin Islands, United States",Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zimbabwe,Country_marlal,Country_Åland Islands
0,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x = data1.drop("car purchase amount",axis=1)
y = data1['car purchase amount']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=132)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test= sc.fit_transform(x_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.9.2

**Specify the architecture**

input - 4, hidden layer1- 9 , output -1

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(9, input_shape = (4,),activation = "relu"))    ### input and hidden layer1
model.add(Dense(1))    ### output layer

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 9)                 1953

 dense_4 (Dense)             (None, 1)                 10

 dense_5 (Dense)             (None, 9)                 18

 dense_6 (Dense)             (None, 1)                 10

=================================================================
Total params: 1,991
Trainable params: 1,991
Non-trainable params: 0
_________________________________________________________________

**compile**

optimizer and loss function

optimizer -- sgd ,, loss function - binary cross entropy

In [ ]:
model.compile(optimizer="sgd", loss = "binary_crossentropy", metrics =['accuracy'])

In [ ]:
model.fit(x_train,y_train,epochs=25,batch_size=10,verbose=1)

Epoch 1/25
40/40 [==============================] - 1s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 2/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 3/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 4/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 5/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 6/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 7/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 8/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 9/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 10/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 11/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 12/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 13/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 14/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 15/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 16/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.7500 - accuracy: 0.0000e+00
Epoch 17/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 18/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 19/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 20/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 21/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 22/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.5000 - accuracy: 0.0000e+00
Epoch 23/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 24/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 25/25
40/40 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00

training and updating weights using the backpropogation

In [ ]:
model.fit(x_train, y_train, epochs = 5)

Epoch 1/5
13/13 [==============================] - 0s 3ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 2/5
13/13 [==============================] - 0s 3ms/step - loss: -674579.6875 - accuracy: 0.0000e+00
Epoch 3/5
13/13 [==============================] - 0s 3ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 4/5
13/13 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00
Epoch 5/5
13/13 [==============================] - 0s 2ms/step - loss: -674579.6250 - accuracy: 0.0000e+00

In [ ]:
model.evaluate(x_test, y_test)

4/4 [==============================] - 0s 4ms/step - loss: -672434.0625 - accuracy: 0.0000e+00

[-672434.0625, 0.0]

model 2

input - 4, hidden 1- 8 , hidden2 - 8 , output - 1

In [ ]:
model2 = Sequential()
model2.add(Dense(8, input_shape=(4,), activation = "relu"))
model2.add(Dense(8, activation = "relu"))
model2.add(Dense(1))
model2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 40

 dense_8 (Dense)             (None, 8)                 72

 dense_9 (Dense)             (None, 1)                 9

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model2.compile(optimizer = "adam", loss= "binary_crossentropy", metrics = ["accuracy"])