In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/BBC News.csv")

In [ ]:
df

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [ ]:
df.shape

(1490, 3)

In [ ]:
df["Category"].unique()

array(['business', 'tech', 'politics', 'sport', 'entertainment'],
      dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [ ]:
df["Text"][9]

'fockers fuel festive film chart comedy meet the fockers topped the festive box office in north america  setting a new record for christmas day.  the sequel took $44.7m (£23.2m) between 24 and 26 december  according to studio estimates. it took $19.1m (£9.9m) on christmas day alone  the highest takings on that day in box office history. meet the fockers is the sequel to ben stiller comedy meet the parents  also starring robert de niro  blythe danner  dustin hoffman and barbra streisand. despite the success of meet the fockers  takings were down 26.5% on 2003 s figures - which was blamed on christmas falling over a weekend this year.   when christmas falls on a weekend  it s bad for business   said paul dergarabedian  president of exhibitor relations  which compiles box office statistics. the weekend s top 12 films took an estimated $121.9m (£63.3m)  compared with $165.8m (£86.1m) last year  when the third lord of the rings film dominated the box office. meet the fockers knocked last week s top film  lemony snicket s a series of unfortunate events  down to third place  with $12.5m (£6.5m). comedy fat albert - co-written by bill cosby - entered the chart in second place after opening on christmas day  taking $12.7m (£6.6m). the aviator  starring leonardo dicaprio as howard hughes  took $9.4m after expanding from 40 to 1 796 cinemas on christmas day.'

In [ ]:
df["Category"][9]

'entertainment'

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vector=CountVectorizer(stop_words="english")

In [ ]:
bow=vector.fit_transform(df["Text"])

In [ ]:
bow

<1490x24456 sparse matrix of type '<class 'numpy.int64'>'
	with 213866 stored elements in Compressed Sparse Row format>

In [ ]:
type(bow)

scipy.sparse.csr.csr_matrix

In [ ]:
bow.shape

(1490, 24456)

In [ ]:
X=pd.DataFrame(bow.toarray(),columns=vector.get_feature_names_out())

In [ ]:
y=df["Category"]

In [ ]:
y

0            business
1            business
2            business
3                tech
4            business
            ...
1485    entertainment
1486    entertainment
1487         business
1488             tech
1489             tech
Name: Category, Length: 1490, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# initialize LabelEncoder
lencod = LabelEncoder()
# fit_transform() converts the text to numbers
df['Category'] = lencod.fit_transform(df['Category'])

In [ ]:
df["Category"]

0       0
1       0
2       0
3       4
4       0
       ..
1485    1
1486    1
1487    0
1488    4
1489    4
Name: Category, Length: 1490, dtype: int64

In [ ]:
y=df["Category"]

In [ ]:
df

      ArticleId                                               Text  Category
0          1833  worldcom ex-boss launches defence lawyers defe...         0
1           154  german business confidence slides german busin...         0
2          1101  bbc poll indicates economic gloom citizens in ...         0
3          1976  lifestyle  governs mobile choice  faster  bett...         4
4           917  enron bosses in $168m payout eighteen former e...         0
...         ...                                                ...       ...
1485        857  double eviction from big brother model caprice...         1
1486        325  dj double act revamp chart show dj duo jk and ...         1
1487       1590  weak dollar hits reuters revenues at media gro...         0
1488       1587  apple ipod family expands market apple has exp...         4
1489        538  santy worm makes unwelcome visit thousands of ...         4

[1490 rows x 3 columns]

Activity : 1. For the bbc dataset apply the ML model for classification
2. Apply TFIDF and do ML model building

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.2,
                                                    random_state=132)

# logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
lr = LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
accuracy_score(y_test, y_pred)

0.9765100671140939

## knn

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test, y_pred)

0.44966442953020136

## svm

In [ ]:
from sklearn.svm import SVC
sv = SVC()
sv.fit(x_train, y_train)
y_pred = sv.predict(x_test)
accuracy_score(y_test, y_pred)

0.9530201342281879

## decision trees

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)
accuracy_score(y_test, y_pred)

0.8187919463087249

## bagging classifier

In [ ]:
bs_et = DecisionTreeClassifier()

from sklearn.ensemble import BaggingClassifier
bg = BaggingClassifier(base_estimator=bs_et, n_estimators= 200)
bg.fit(x_train, y_train)
y_pred = bg.predict(x_test)
accuracy_score(y_test, y_pred)

0.9261744966442953

## random forest classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rt = RandomForestClassifier()
rt.fit(x_train, y_train)
y_pred = rt.predict(x_test)
accuracy_score(y_test, y_pred)

0.9630872483221476

## voting classifier

In [ ]:
from sklearn.ensemble import VotingClassifier
lr = LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=13)
sv = SVC()
classifiers = [("log_reg",lr),("knn",knn),("svm",sv)]

vc = VotingClassifier(estimators=classifiers)
vc.fit(x_train, y_train)
y_pred = vc.predict(x_test)
accuracy_score(y_test, y_pred)

0.9731543624161074

**TF**-**IDF**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf=TfidfVectorizer()

In [ ]:
tfidf_transform=tfidf.fit_transform(df["Text"])

In [ ]:
pd.DataFrame(tfidf_transform.toarray(), columns=tfidf.get_feature_names_out())

,00,000,0001,000bn,000m,000th,001,001and,001st,0051,...,zonealarm,zones,zoom,zooms,zooropa,zorro,zuluaga,zurich,zutons,zvonareva
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.020274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.017389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,0.0,0.030012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1486,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1487,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1488,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1489,0.0,0.023923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#### Linear regression, knn regression, decision tree regression
#### bagging regression, random forest regression, gradient boosting

In [ ]:
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.6853996560472626

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.6160618423878033

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.8135399655383713

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=13)
knn.fit(x_train , y_train)
y_pred = knn.predict(x_test)
r2_score(y_test, y_pred)

0.16307318195012932

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gt = GradientBoostingRegressor()
cv_results = cross_val_score(gt, x_train, y_train, cv= 5, scoring="r2")

In [ ]:
cv_results

array([0.67308744, 0.71115675, 0.75748774, 0.72877899, 0.75940724])

In [ ]:
cv_results.mean()

0.7259836329051592